.devcontainer.json
.DS_Store
.env
.env.*
.idea
.log/
.scannerwork
.vscode
*.sql
*.tar.gz
*.zip
build/
composer.lock
coverage/*
node_modules/
phpcs.xml
phpunit.xml
schema.graphql
sonar-project.properties
sonar-scanner
tests/*.suite.yml
Thumbs.db
vendor/*
wp-cli.local.yml
!.env.dist
!tests
!vendor/autoload.php
!vendor/composer
!vendor/composer/*
