parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		bootstrapFiles:
			- wp-graphql-tec.php
		paths:
			- wp-graphql-tec.php
			- src/
		scanDirectories:
			- ../wp-graphql/
			- ../the-events-calendar/
		ignoreErrors:
			- '#^Function apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'
			- '#^Parameter \#2 \$callback of function remove_action expects callable\(\): mixed, array\(mixed, #'
