.coveralls export-ignore
.coveralls.yml export-ignore
.dockerignore export-ignore
.env export-ignore
.env.dist export-ignore
.git export-ignore
.gitattributes export-ignore
.github export-ignore
.github_changelog_generator export-ignore
.gitignore export-ignore
.log export-ignore
.travis.yml
/bin export-ignore
/codeception.yml export-ignore
/docker export-ignore
/docker-compose.yml export-ignore
/docs export-ignore
/documentation export-ignore
/img export-ignore
/phpcs.xml  export-ignore
/phpstan export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/plugin-build export-ignore
/tests export-ignore
